legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
@mobiscroll:registry=https://npm.mobiscroll.com
//npm.mobiscroll.com/:_authToken=xG9jMlclYC+fk1XgqWuQwj7RrN6a49NFXdnvbioJVsQ=
