.buttQ {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 190px;
  background-color: #37944e;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 37px;
  margin: 15px;
}

.buttQ:hover {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 190px;
  background-color: #036a1d;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 37px;
  margin: 15px;
}

.tipdescQ {
  border-radius: 5px;
  margin: 6px;
  border: groove;
  width: 20%;
  height: 30px;
}

.campoSelect {
  height: 29px;
  border: outset;
}

.addButt {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 168px;
  background-color: #37944e;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.addButt:hover {
  background-color: #036a1d;
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 168px;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.addPergButt {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 185px;
  background-color: #37944e;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.addPergButt:hover {
  width: 185px;
  background-color: #036a1d;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.remPergButt {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 210px;
  background-color: #d0132b;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
  margin: 12px;
}

.remPergButt:hover {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 210px;
  background-color: #9e0d21;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
  margin: 12px;
}

.remButt {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 191px;
  background-color: #d0132b;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
  margin: 12px;
}

.remButt:hover {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 191px;
  background-color: #9e0d21;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
  margin: 12px;
}

.remPergAllButt {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 170px;
  background-color: #d0132b;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.remPergAllButt:hover {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 170px;
  background-color: #9e0d21;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.linha {
  width: 100%;
  /* Largura da linha */
  height: 2px;
  /* Espessura da linha */
  background-color: black;
  /* Cor da linha */
  margin: 20px 0;
  /* Margens em cima e embaixo */
}

.radio-group {
  flex-wrap: wrap;
  gap: 15px;
  /* Espaçamento entre os itens */
}

.radio-label {
  flex: 1 1 calc(33.33% - 10px);
  /* 3 itens por linha, com espaço */
  background-color: #f0f0f0;
  /* Cor de fundo */
  padding: 10px;
  /* Padding interno */
  border-radius: 5px;
  /* Bordas arredondadas */
  cursor: pointer;
  /* Mudar o cursor ao passar o mouse */
  transition: background-color 0.3s;
  /* Transição suave */
}

.radio-label:hover {
  background-color: #e0e0e0;
  /* Cor ao passar o mouse */
}

input[type="radio"] {
  margin-right: 5px;
  /* Espaço entre o input e o texto */
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* Espaçamento entre os itens */
}

.checkbox-label {
  flex: 1 1 calc(33.33% - 10px);
  /* 3 itens por linha, com espaço */
  background-color: #f0f0f0;
  /* Cor de fundo */
  padding: 10px;
  /* Padding interno */
  border-radius: 5px;
  /* Bordas arredondadas */
  cursor: pointer;
  /* Mudar o cursor ao passar o mouse */
  transition: background-color 0.3s;
  /* Transição suave */
}

.checkbox-label:hover {
  background-color: #e0e0e0;
  /* Cor ao passar o mouse */
}

input[type="checkbox"] {
  margin-right: 5px;
  /* Espaço entre o input e o texto */
}

/* .form-group {
    margin-bottom: 20px; /* Espaço entre os grupos de formulário */
/* } */

/* .form-label {
    font-weight: bold; /* Deixar o texto mais destacado */
/* margin-bottom: 5px; Espaço entre a label e o input */
/* display: block; Garante que a label fique em linha própria */
/* } */




.tipresp {
  border-radius: 5px;
  border: 1px solid #ced4da;
  transition: border-color 0.2s;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 40%;
  height: 35px;
}

.tipresp:focus {
  border-color: #80bdff;
  /* Cor da borda ao focar */
  outline: none;
  /* Remove o contorno padrão */
}

.tipresp::placeholder {
  color: #6c757d;
  /* Cor do texto placeholder */
}

.select-container {
  position: relative;
  width: 200px;
  /* Defina a largura conforme necessário */
}

.custom-select {
  appearance: none;
  /* Remove o estilo padrão */
  width: 100%;
  padding: 10px;
  border: 2px solid #4a90e2;
  /* Cor da borda */
  border-radius: 5px;
  /* Bordas arredondadas */
  background-color: #fff;
  /* Cor de fundo */
  font-size: 16px;
  color: #333;
  /* Cor do texto */
  cursor: pointer;
  transition: border-color 0.3s;
  padding-right: 30px;
  /* Espaço para a seta */
}

.custom-select:focus {
  border-color: #007bff;
  /* Cor da borda ao focar */
  outline: none;
  /* Remove o contorno padrão */
}

.arrow-down {
  position: absolute;
  right: 10px;
  top: 80%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  color: #333;
}

.height-input-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin: 20px;
}

.tituQuest {
  margin-left: 35vw;
  margin-top: 4vh;
  font-size: 21px;
}

.tituSimu {
  margin-left: 22vw;
}

.height-label {
  font-size: 18px;
  margin-bottom: 10px;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  /* width: 100%; */
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  line-height: initial;
}

.height-label-data {
  display: inline-grid;
  /* flex-direction: column; */
  margin-bottom: 15px;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: flex;
  position: relative;
  line-height: initial;
}

.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
  border-color: #c15454;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}

.height-range {
  -webkit-appearance: none;
  /* Para remover o estilo padrão no Chrome/Safari */
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.height-range:hover {
  opacity: 1;
}

.height-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.height-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.height-display {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.date-picker-container {
  position: relative;
  margin: 20px;
}

.date-picker-input {
  width: 105%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.custom-datepicker {
  z-index: 1000;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.form-group-cpf {
  display: flex;
  flex-direction: column; /* Coloca os itens na vertical */
  margin-bottom: 1rem; /* Espaçamento entre os formulários */
}

.label-cpf {
  margin-bottom: 0.5rem;
  font-weight: bold;
  display: contents;
}

.input-cpf {
  padding: 0.5rem; /* Adiciona um pouco de preenchimento ao campo */
  border: 1px solid #ccc; /* Estilo da borda */
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho da fonte do campo */
  width: 12%;
}

.input-cpf-2 {
  padding: 0.5rem; /* Adiciona um pouco de preenchimento ao campo */
  border: 1px solid #ccc; /* Estilo da borda */
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho da fonte do campo */
  width: 25%;
}

.error{
  color: red;
  margin-top: -9vh;
  font-size: 1.5vw;

}

.h2-modal {
     /* margin-bottom: 6vw; */
     font-size: 2vw;
     display: contents;
}

.input-modal {
  margin-bottom: 10vh;
  padding: 1vw;
  width: 28vw;
  border: 1px solid #000000;
  border-radius: 1vw;
  margin-top: 0vw;
  height: 5vh;
}

.modal-pos{
  display: grid;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 14vw;
  margin-left: 7vw;
  margin-top: 0vw;
}

.label-modal{
  height: 30px;
  border-radius: 8px;
  margin-top: -26px;
}

.button-modal {
  padding: 10px 20px; /* Espaçamento interno dos botões */
  border: none; /* Sem borda */
  border-radius: 4px; /* Cantos arredondados */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.cancel {
  background-color: #f44336; /* Cor de fundo do botão Cancelar */
  color: white; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno dos botões */
  border: none; /* Sem borda */
  border-radius: 4px; /* Cantos arredondados */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.confirm {
  background-color: #4CAF50; /* Cor de fundo do botão Confirmar */
  color: white; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno dos botões */
  border: none; /* Sem borda */
  border-radius: 4px; /* Cantos arredondados */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.modal{
  position: inherit;
  inset: 0vw;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 13px;
  outline: none;
  padding: 2vh;
  margin-top: 27vh;
  margin-left: 38vw;
  height: 16vw;
  width: 35vw;
  display: grid;
  z-index: '9999'
}

.fecharModal {
  display: flex;
  align-items: center;
  margin-left: 30vw;
  color: red;
  cursor: pointer;
}

.modal-pos-sucess {
  display: grid;
    margin-left: 14vw;
    margin-top: -17vh;
}

.msg {
  font-size: 2.7vw;
    margin-left: -144px;
}

.posicion{
  display: flex;
  align-items: center;
  margin-left: 415px;
  margin-top: -59px;
  color: red;
  cursor: pointer;
  
}

.fechar{
cursor: pointer;
font-size: 24px; 
color: 'red'
}

.posiItem{
  display: 'flex';
  align-items: 'center'
}

.posText{
  flex: 1;
   text-align: 'center'
}

.iconeModal{
  font-size: '52px'; 
  color: 'green'
}


.msg2 {
  font-size: 0.999vw;
  margin-left: -162px;
}


/* Adicionando responsividade para textos */
@media (max-width: 608px) {
  .msg {
    font-size: 5.7vw;
    margin-left: -91px;
}
.msg2 {
  font-size: 2.1vw;
  margin-left: -108px;
}
  .posicion{
    display: flex;
    align-items: center;
    margin-left: 279px;
    color: red;
    margin-top: -62px;
    cursor: pointer;
  }
  
  .fechar{
  cursor: pointer;
  font-size: 24px; 
  color: 'red'
  }
  
  .posiItem{
    display: 'flex';
    align-items: 'center'
  }
  
  .posText{
    flex: 1;
     text-align: 'center'
  }
  
  .iconeModal{
    font-size: '52px'; 
    color: 'green'
  }
  .modal-pos-sucess {
    display: grid;
    margin-left: 25vw;
    margin-top: -19vh;
  }
  .modal-pos {
    display: grid;
    margin-left: 9vw;
    margin-top: -4vh;
}
.fecharModal {
  display: flex;
  align-items: center;
  margin-left: 41vw;
  color: red;
  margin-top: -4vh;
  cursor: pointer;
  margin-left: 53vw;
}

  .h2-modal {
    font-size: 2.7vw; /* Tamanho menor em dispositivos móveis */
  }
  .modal {
     z-index: '9999';
    position: inherit;
    inset: 0vw;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 13px;
    outline: none;
    padding: 2vh;
    margin-top: 30vh;
    margin-left: 15vw;
    height: 43vw;
    width: 65vw;
    display: grid;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 48vw;
  margin-left: -1vw;
  margin-top: -6vw;
}
.input-modal {
  margin-bottom: 10vh;
  padding: 1vw;
  width: 40vw;
  border: 1px solid #000000;
  border-radius: 1vw;
  margin-top: 0vw;
  height: 5vh;
}
}


@media (max-width: 843px) and (min-width: 609px)  {
  .msg {
    font-size: 5.7vw;
    margin-left: -131px;
}
.msg2 {
  font-size: 2.1vw;
  margin-left: -153px;
}
  .posicion{
    display: flex;
        align-items: center;
        margin-left: 378px;
        margin-top: -8vh;
        color: red;
        cursor: pointer;
  }
  
  .fechar{
  cursor: pointer;
  font-size: 24px; 
  color: 'red'
  }
  
  .posiItem{
    display: 'flex';
    align-items: 'center'
  }
  
  .posText{
    flex: 1;
     text-align: 'center'
  }
  
  .iconeModal{
    font-size: '52px'; 
    color: 'green'
  }
  .modal-pos-sucess {
    display: grid;
    margin-left: 28vw;
    margin-top: -20vh;
  }
  .fecharModal {
    display: flex;
    align-items: center;
    margin-left: 41vw;
    color: red;
    margin-top: -9vh;
    cursor: pointer;
    margin-left: 53vw;
}
.modal-pos {
  display: grid;
  margin-left: 11vw;
  margin-top: -17vh;
}
  .h2-modal {
    font-size: 2.7vw; /* Tamanho menor em dispositivos móveis */
  }
  .modal {
     z-index: '9999';
    position: inherit;
    inset: 0vw;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 13px;
    outline: none;
    padding: 2vh;
    margin-top: 27vh;
    margin-left: 15vw;
    height: 43vw;
    width: 65vw;
    display: grid;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 31vw;
  margin-left: 4vw;
  margin-top: -4vw;
}
.input-modal {
  margin-bottom: 10vh;
  padding: 1vw;
  width: 40vw;
  border: 1px solid #000000;
  border-radius: 1vw;
  margin-top: 0vw;
  height: 5vh;
}
}

@media (max-width: 978px) and (min-width: 844px)  {
  .msg {
    font-size: 5.7vw;
    margin-left: -163px;
}
.msg2 {
  font-size: 2.1vw;
  margin-left: -184px;
}
  .posicion{
    display: flex;
        align-items: center;
        margin-left: 480px;
        margin-top: -21vh;
        color: red;
        cursor: pointer;
  }
  
  .fechar{
  cursor: pointer;
  font-size: 24px; 
  color: 'red'
  }
  
  .posiItem{
    display: 'flex';
    align-items: 'center'
  }
  
  .posText{
    flex: 1;
     text-align: 'center'
  }
  
  .iconeModal{
    font-size: '52px'; 
    color: 'green'
  }
  .modal-pos-sucess {
    display: grid;
    margin-left: 25vw;
    margin-top: -40vh;
  }
  .fecharModal {
    display: flex;
    align-items: center;
    margin-left: 56vw;
    color: red;
    margin-top: -20vh;
    cursor: pointer;
}
.modal-pos {
  display: grid;
  margin-left: 12vw;
  margin-top: -32vh;
}
  .h2-modal {
    font-size: 2.7vw; /* Tamanho menor em dispositivos móveis */
  }
  .modal {
     z-index: '9999';
    position: inherit;
    inset: 0vw;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 13px;
    outline: none;
    padding: 2vh;
    margin-top: 27vh;
    margin-left: 15vw;
    height: 43vw;
    width: 65vw;
    display: grid;
}
.buttons {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  margin-left: 7vw;
  margin-top: -3vw;
}
.input-modal {
  margin-bottom: 10vh;
  padding: 1vw;
  width: 40vw;
  border: 1px solid #000000;
  border-radius: 1vw;
  margin-top: 0vw;
  height: 5vh;
}
}

@media (max-width: 1256px) and (min-width: 979px)  {
  .msg {
    font-size: 3.7vw;
    margin-left: -117px;
}
  .posicion{
    display: flex;
        align-items: center;
        margin-left: 435px;
        color: red;
        cursor: pointer;
        margin-top: 12px;
  }
  
  .fechar{
  cursor: pointer;
  font-size: 24px; 
  color: 'red'
  }
  
  .posiItem{
    display: 'flex';
    align-items: 'center'
  }
  
  .posText{
    flex: 1;
     text-align: 'center'
  }
  .msg2 {
    font-size: 1.7vw;
    margin-left: -173px;
}
  
  .iconeModal{
    font-size: '52px'; 
    color: 'green'
  }
  .modal-pos-sucess {
    display: grid;
    margin-left: 20vw;
    margin-top: -4vh;
  }
  .fecharModal {
    display: flex;
    align-items: center;
    margin-left: 45vw;
    color: red;
    margin-top: 0vh;
    cursor: pointer;
}
  .h2-modal {
    font-size: 2.7vw; /* Tamanho menor em dispositivos móveis */
  }
  .modal {
     z-index: '9999';
    position: inherit;
    inset: 0vw;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 13px;
    outline: none;
    padding: 2vh;
    margin-top: 16vh;
    margin-left: 34vw;
    height: 23vw;
    width: 53vw;
    display: grid;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  margin-left: 7vw;
  margin-top: -2vw;
}
.input-modal {
  margin-bottom: 10vh;
  padding: 1vw;
  width: 40vw;
  border: 1px solid #000000;
  border-radius: 1vw;
  margin-top: 0vw;
  height: 5vh;
}
}

.radio-group {
  margin: 20px 0;
}

.question {
  margin-bottom: 10px;
  width: 30vw;
}

.options-container {
  display: flex;
  flex-wrap: wrap; /* Para que as opções se ajustem em várias linhas, se necessário */
}

.radio-label {
  margin-right: 20px; /* Espaço entre os labels */
  display: flex;
  align-items: center; /* Alinha o texto com o radio button */
}




