.buttQ {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 190px;
  background-color: #37944e;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 37px;
  margin: 15px;
}

.buttQ:hover {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 190px;
  background-color: #036a1d;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 37px;
  margin: 15px;
}

.tipdescQ {
  border-radius: 5px;
  margin: 6px;
  border: groove;
  width: 20%;
  height: 30px;
}

.campoSelect {
  height: 29px;
  border: outset;
}

.addButt {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 168px;
  background-color: #37944e;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.addButt:hover {
  background-color: #036a1d;
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 168px;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.addPergButt {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 185px;
  background-color: #37944e;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.addPergButt:hover {
  width: 185px;
  background-color: #036a1d;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.remPergButt {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 210px;
  background-color: #d0132b;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
  margin: 12px;
}

.remPergButt:hover {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 210px;
  background-color: #9e0d21;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
  margin: 12px;
}

.remButt {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 191px;
  background-color: #d0132b;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
  margin: 12px;
}

.remButt:hover {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 191px;
  background-color: #9e0d21;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
  margin: 12px;
}

.remPergAllButt {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 325px;
  background-color: #d0132b;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.remPergAllButt:hover {
  /* margin-top: 10px; */
  /* margin-right: 10px; */
  width: 325px;
  background-color: #9e0d21;
  color: white;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  /* margin-left: 110px; */
  height: 22px;
}

.linha {
  width: 100%;
  /* Largura da linha */
  height: 2px;
  /* Espessura da linha */
  background-color: black;
  /* Cor da linha */
  margin: 20px 0;
  /* Margens em cima e embaixo */
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* Espaçamento entre os itens */
}

.radio-label {
  flex: 1 1 calc(33.33% - 10px);
  /* 3 itens por linha, com espaço */
  background-color: #f0f0f0;
  /* Cor de fundo */
  padding: 10px;
  /* Padding interno */
  border-radius: 5px;
  /* Bordas arredondadas */
  cursor: pointer;
  /* Mudar o cursor ao passar o mouse */
  transition: background-color 0.3s;
  /* Transição suave */
}

.radio-label:hover {
  background-color: #e0e0e0;
  /* Cor ao passar o mouse */
}

input[type="radio"] {
  margin-right: 5px;
  /* Espaço entre o input e o texto */
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* Espaçamento entre os itens */
}

.checkbox-label {
  flex: 1 1 calc(33.33% - 10px);
  /* 3 itens por linha, com espaço */
  background-color: #f0f0f0;
  /* Cor de fundo */
  padding: 10px;
  /* Padding interno */
  border-radius: 5px;
  /* Bordas arredondadas */
  cursor: pointer;
  /* Mudar o cursor ao passar o mouse */
  transition: background-color 0.3s;
  /* Transição suave */
}

.checkbox-label:hover {
  background-color: #e0e0e0;
  /* Cor ao passar o mouse */
}

input[type="checkbox"] {
  margin-right: 5px;
  /* Espaço entre o input e o texto */
}

/* .form-group {
    margin-bottom: 20px; /* Espaço entre os grupos de formulário */
/* } */

/* .form-label {
    font-weight: bold; /* Deixar o texto mais destacado */
/* margin-bottom: 5px; Espaço entre a label e o input */
/* display: block; Garante que a label fique em linha própria */
/* } */



.tipresp {
  border-radius: 5px;
  border: 1px solid #ced4da;
  transition: border-color 0.2s;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 40%;
  height: 25px;
}

.tipresp:focus {
  border-color: #80bdff;
  /* Cor da borda ao focar */
  outline: none;
  /* Remove o contorno padrão */
}

.tipresp::placeholder {
  color: #6c757d;
  /* Cor do texto placeholder */
}

.select-container {
  position: relative;
  width: 200px;
  /* Defina a largura conforme necessário */
}

.custom-select {
  appearance: none;
  /* Remove o estilo padrão */
  width: 100%;
  padding: 10px;
  border: 2px solid #4a90e2;
  /* Cor da borda */
  border-radius: 5px;
  /* Bordas arredondadas */
  background-color: #fff;
  /* Cor de fundo */
  font-size: 16px;
  color: #333;
  /* Cor do texto */
  cursor: pointer;
  transition: border-color 0.3s;
  padding-right: 30px;
  /* Espaço para a seta */
}

.custom-select:focus {
  border-color: #007bff;
  /* Cor da borda ao focar */
  outline: none;
  /* Remove o contorno padrão */
}

.arrow-down {
  position: absolute;
  right: 10px;
  /* Distância do lado direito */
  top: 50%;
  /* Alinhamento vertical */
  transform: translateY(-50%);
  pointer-events: none;
  /* Impede interação com a seta */
  font-size: 16px;
  /* Tamanho da seta */
  color: #333;
  /* Cor da seta */
}

.height-input-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin: 20px;
}

.tituQuest {
  margin-left: 35vw;
  margin-top: 4vh;
  font-size: 21px;
}

.tituSimu {
  margin-left: 22vw;
}

.height-label {
  font-size: 18px;
  margin-bottom: 10px;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  /* width: 100%; */
}

.height-label-data {
  display: table;
  /* flex-direction: column; */
  margin-bottom: 15px;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: flex;
  position: relative;
  line-height: initial;
}

.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
  border-color: #c15454;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}

.height-range {
  -webkit-appearance: none;
  /* Para remover o estilo padrão no Chrome/Safari */
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.height-range:hover {
  opacity: 1;
}

.height-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.height-range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.height-display {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.date-picker-container {
  position: relative;
  margin: 20px;
}

.date-picker-input {
  width: 110%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.custom-datepicker {
  z-index: 1000;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.form-group-cpf {
  display: flex;
  flex-direction: column; /* Coloca os itens na vertical */
  margin-bottom: 1rem; /* Espaçamento entre os formulários */
}

.label-cpf {
  margin-bottom: 0.5rem;
  font-weight: bold;
  display: contents;
}

.input-cpf {
  padding: 0.5rem; /* Adiciona um pouco de preenchimento ao campo */
  border: 1px solid #ccc; /* Estilo da borda */
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho da fonte do campo */
  width: 12%;
}