

.label-quanti-mul {
    width: 100% !important;
    float: left;

}

.deletar-jogadorr{
    position: absolute;
    margin-left: 345px;
    margin-top: -200px;
}

.campeao{
    position: absolute;
    margin-left: 564px;
    margin-top: -202px;
}

.campeao1{
    position: absolute;
    margin-left: 564px;
    margin-top: -125px;
}

.campeao2{
    position: absolute;
    margin-left: 569px;
    margin-top: -102px;
}

.campeao3{
    position: absolute;
    margin-left: 570px;
    margin-top: -54px;
}

.campeao4{
    position: absolute;
    margin-left: 570px;
    margin-top: -86px;
}

.campeao5{
    position: absolute;
    margin-left: 570px;
    margin-top: -70px;
}

.campeao6{
    position: absolute;
    margin-left: 569px;
    margin-top: -32px;
}
.campeao7{
    position: absolute;
    margin-left: 570px;
    margin-top: -11px;
}
.campeao8{
    position: absolute;
    margin-left: 570px;
    margin-top: 5px;
}
.campeao9{
    position: absolute;
    margin-left: 570px;
    margin-top: 19px;
}
.campeao10{
    position: absolute;
    margin-left: 570px;
    margin-top: 34px;
}
.campeao11{
    position: absolute;
    margin-left: 134px;
    margin-top: -84px;
}
.campeao12{
    position: absolute;
    margin-left: 136px;
    margin-top: -61px;
}
.campeao13{
    position: absolute;
    margin-left: 137px;
    margin-top: -42px;
}
.campeao14{
    position: absolute;
    margin-left: 136px;
    margin-top: -24px;
}

.campeao15{
    position: absolute;
    margin-left: 570px;
    margin-top: 34px;
}

.botao-importar-foto{
    margin-left: -2em!important;
    height: 2.325em!important;
    width: 2.325em!important;
    border-radius: 6.25em!important;
    background-color: #36D896!important;
    box-shadow: none!important;
    border: 0em!important;
    cursor: pointer;
}

.icone-usuario-perfil{
    width: 2.5em !important;
    height: 2.5em !important;
    border-radius: 100% !important;
}

.icone-perfil{
    width: 12.5em !important;
    height: 11.5em !important;
    margin-left: 27px;
    border-radius: 100px;
}



.label-quanti-hom {
    width: 100% !important;
    float: left;

}

.label-media-idad {
    width: 100% !important;
    float: left;

}

.lab-quant-home {
    position: absolute;
    margin-left: -96px;
    margin-top: 25px;
    width: 56px;
}

.lab-quant-mul {
    position: absolute;
    margin-left: -96px;
    margin-top: 45px;
    width: 56px;
}

.lab-media-idade {
    position: absolute;
    margin-left: -96px;
    margin-top: 65px;
    width: 56px;
}

.label-login{
    width: 220px;
    height: 28px;
    border-block-color: black;
}



.espaco {
    width: 100% !important;
    height: 58px;
}

.linha-horizontal {
    width: 213px;
    border: #000;
}

.linha-horizon {
    /* width: 1030px; */
    border: 2px solid #6ac2f5;
    position: absolute;
    margin-top: 76px;
    margin-left: 136px;
}

.drop-acoes-divisora{
    height: .0625em !important;
    margin-left: -10% !important;
    width: 101% !important;
}

.espaco-11 {
    width: 100% !important;
    height: 10px;
}

.email{
    margin-left: 571px;
    margin-top: 250px;
    margin-left: 637px;
}

.botao-entrar{
    margin-top: 43px;
    width: 91px;
    height: 27px;
    margin-left: 62px;
    cursor: pointer;
}

.botao-cadastrar{
    margin-top: 43px;
    width: 91px;
    height: 27px;
    margin-left: 63px;
    cursor: pointer;
}

.senha{
    margin-left: 571px;
    display: inline-grid;
    margin-left: 637px;
}

.cadastrar{
    margin-left: 571px;
    margin-top: 14px;
    margin-left: 637px;
}

.deletar{
    margin-left: 41px;
    margin-top: 14px;
}

.limpar{
    margin-left: 995px;
    margin-top: 14px;
}

.alterar{
    margin-left: 45px;
    margin-top: 14px;
}



.label-quanti-mul {
    width: 100% !important;
    float: left;

}

.label-quanti-hom {
    width: 100% !important;
    float: left;

}

.label-media-idad {
    width: 100% !important;
    float: left;

}

.foto{
    width: 2.5em !important;
    height: 2.5em !important;
    border-radius: 100% !important;
}

.lab-quant-home {
    position: absolute;
    margin-left: -96px;
    margin-top: 25px;
    width: 56px;
}

.lab-quant-mul {
    position: absolute;
    margin-left: -96px;
    margin-top: 45px;
    width: 56px;
}

.lab-media-idade {
    position: absolute;
    margin-left: -96px;
    margin-top: 65px;
    width: 56px;
}



.espaco2{
    width: 40px;
}

.espaco4{
    height: 12px;
}

.espaco3{
    height: 28px;
}


.lado {
    display: inline-flex;
}

.esconder {
    display: none;
}

.idioma{
    margin-top: 2px;
}

.labell{
    margin-top: 2px;
    margin-left: 17PX;
}

.labell-1{
    margin-top: 2px;
    margin-left: 27PX;
}

.labell-2{
    margin-top: 34px;
    margin-left: -86PX;
}

.labell-3{
    margin-top: 34px;
    margin-left: 16PX;
}

.labell-4{
    margin-top: -43px;
    margin-left: 147PX;
}
.labell-5{
    margin-top: -43px;
    margin-left: 16PX;
}
.labell-6{
    margin-top: -43px;
    margin-left: 20PX;
}
.labell-7{
    margin-top: -43px;
    margin-left: 20PX;
}

.lado-e {
    display: flex;
}

.label-2{
    margin-top: 15px;
    margin-left: 20PX;
}

.label-3{
    margin-top: -59px;
    margin-left: 17PX;
}

.label-4{
    margin-top: 12px;
    margin-left: 20PX;
}

.label-5{
    margin-top: 14px;
    margin-left: 20PX;
}

.campo-select-filtro-7{
    border-color: black;
    /* border-radius: 5em !important; */
    box-shadow: none !important;
    display: flex !important;
    /* font-family: RobotoRegular !important; */
    /* font-size: .875em !important; */
    height: 27px;
    justify-content: space-between !important;
    line-height: 1em !important;
    width: 223px;
    margin-left: 19px;
    margin-top: 1px;
    background-color: white;
}

.campo-select-filtro-8{
    border-color: black;
    /* border-radius: 5em !important; */
    box-shadow: none !important;
    display: flex !important;
    /* font-family: RobotoRegular !important; */
    /* font-size: .875em !important; */
    height: 27px;
    justify-content: space-between !important;
    line-height: 1em !important;
    width: 223px;
    margin-left: 0px;
    margin-top: 1px;
    background-color: white;
}

.campo-select-filtro-6{
    border-color: black;
    border-radius: 5em !important;
    box-shadow: none !important;
    display: flex !important;
    font-family: RobotoRegular !important;
    font-size: .875em !important;
    height: 2.4em !important;
    justify-content: space-between !important;
    line-height: 1em !important;
    width: 27% !important;
    margin-left: -2px;
    margin-top: 10px;
}

.campo-texto-select-tamanho-2{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
    text-align: left !important;
    margin-top: 3% !important;
    margin-left: 10% !important;
    font-size: 17px;
    font-family: cursive;
}

.campo-texto-select-tamanho-3{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
    text-align: left !important;
    margin-top: 1% !important;
    margin-left: 2% !important;
    font-size: 14px;
    font-family: monospace;
}

.campo-select-icone-ativado{
    margin-top: 0.15em!important;
    margin-left: 1em!important;
    -webkit-transition: 0.5s ease!important;
    -moz-transition: 0.5s ease!important;
    -o-transition: 0.5s ease!important;
    transition: 0.5s ease!important;
}

.nao-selecionavel {/* NAO DEIXA O TEXTO SER SELECIONAVEL COM O MOUSE */
    -webkit-touch-callout: none!important;
      -webkit-user-select: none!important;
       -khtml-user-select: none!important;
         -moz-user-select: none!important;
          -ms-user-select: none!important;
              user-select: none!important;
}

.campo-select-icone-desativado-filtro-b{/* CLASSE PARA ROTACIONAR O ICONE DE DROPDOWN QUANDO DESATIVADO */
    -webkit-transition: 0.5s ease!important;
    -moz-transition: 0.5s ease!important;
    -o-transition: 0.5s ease!important;
    transition: 0.5s ease!important;
    margin-top: 8px;
}


.campo-select-divisor{/* CLASSE PADRAO PARA AS LINHAS DIVISORIAS ENTRE OS ITEMS DO SELECT */
    height: 0.0625em !important;
    width: 109% !important;
    margin-left: -1.2em !important;
    /* color: #ab3d3d; */
    background-color: rgb(58 63 61) !important;
}

.campo-select-opcao-label{/* CLASSE PADRAO PARA ALINHAR AS LABELS DOS ITEMS DO SELECT */
    width: 0% !important;
    margin-left: 2.5em !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: black;
    font-size: 13px;
}



.campo-select-1{/* CLASSE PADRAO PARA CAMPOS SELECT */
    border-color: blue;
    border-radius: 5em !important;
    box-shadow: none !important;
    display: flex !important;
    font-family: RobotoRegular !important;
    font-size: .875em !important;
    height: 2.4em !important;
    justify-content: space-between !important;
    line-height: 1em !important;
    width: 27% !important;
    margin-left: -2px;
    margin-top: 10px;
}

.label-campo-marca{/* TEXTO DOS TITULOS DOS CAMPOS DO SISTEMA */
    font-family: RobotoRegular!important;
    font-size: 1em!important;
    line-height: 1em!important;
    margin-top: 6px;
}

.campo-select-triangulo{/* CLASSE PADRAO PARA POSICIONAR O TRIANGULO QUE AJUDA A DAR FORMA AO CORPO DO SELECT */
    width: 0!important;
    height: 0!important;
    border-top: 0.9375em solid transparent!important;
    border-left: 0.9375em solid transparent!important;
    border-right: 0.9375em solid transparent!important;
    margin-left: 3em!important;
    margin-top: -0.9em!important;
}


.campo-select-lista{/* CLASSE PADRAO PARA LIMPAR BULLETS DA LISTA DE ITEMS DOS SELECTS */
    list-style-type: none!important;
}



.label-quanti-mul {
    width: 100% !important;
    float: left;

}

.label-quanti-hom {
    width: 100% !important;
    float: left;

}

.label-media-idad {
    width: 100% !important;
    float: left;

}

.campo-texto-calendario-filtro{
    height: 30px;
    margin-left: 18px;
    width: 272px;
    border-block-color: black;
    margin-top: -1px;
    font-family: cursive;
}

.tessss{
    position: absolute;
    left: 2px;
    top: 0px;
    transform: translate(822.4px, 20.8px);
}

.selectTime{
    width: 85px;
}

.react-datepicker {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    line-height: initial;
    margin-left: -49px;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    list-style: none;
    margin: 0;
    height: calc(195px + 1.7rem / 2);
    overflow-y: scroll;
    padding-right: 0;
    padding-left: 0;
    width: 83%;
    box-sizing: content-box;
}

.react-datepicker__time-container {
    float: right;
    border-left: 1px solid #aeaeae;
    width: 68px;
}


.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 81px;
    overflow-x: hidden;
    margin: 0 auto;
    text-align: center;
    border-bottom-right-radius: 0.3rem;
}

.custom-datepicker .react-datepicker {

    position: absolute;
    left: 2px;
    top: 0px;
    transform: translate(822.4px, 20.8px);
}




.foto{
    width: 2.5em !important;
    height: 2.5em !important;
    border-radius: 100% !important;
}

.lab-quant-home {
    position: absolute;
    margin-left: -96px;
    margin-top: 25px;
    width: 56px;
}

.lab-quant-mul {
    position: absolute;
    margin-left: -96px;
    margin-top: 45px;
    width: 56px;
}

.lab-media-idade {
    position: absolute;
    margin-left: -96px;
    margin-top: 65px;
    width: 56px;
}




.espaco2{
    width: 40px;
}

.espaco4{
    height: 12px;
}

.espaco3{
    height: 28px;
}


.lado {
    display: inline-flex;
}

.ladoFoto {
    display: inline-flex;
}


.esconder {
    display: none;
}

.campo-select-filtro-5{
    border-color: black;
    border-radius: 5em !important;
    box-shadow: none !important;
    display: flex !important;
    font-family: RobotoRegular !important;
    font-size: .875em !important;
    height: 2.4em !important;
    justify-content: space-between !important;
    line-height: 1em !important;
    width: 27% !important;
    margin-left: -2px;
    margin-top: 10px;
}

.campo-select-filtro-6{
    border-color: black;
    border-radius: 5em !important;
    box-shadow: none !important;
    display: flex !important;
    font-family: RobotoRegular !important;
    font-size: .875em !important;
    height: 2.4em !important;
    justify-content: space-between !important;
    line-height: 1em !important;
    width: 27% !important;
    margin-left: -2px;
    margin-top: 10px;
}

.campo-texto-select-tamanho-2{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
    text-align: left !important;
    margin-top: 3% !important;
    margin-left: 10% !important;
    font-size: 17px;
    font-family: cursive;
}

.campo-texto-select-tamanho-3{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
    text-align: left !important;
    margin-top: 1% !important;
    margin-left: 2% !important;
    font-size: 14px;
    font-family: monospace;
}

.campo-select-icone-ativado{
    margin-top: 0.15em!important;
    margin-left: 1em!important;
    -webkit-transition: 0.5s ease!important;
    -moz-transition: 0.5s ease!important;
    -o-transition: 0.5s ease!important;
    transition: 0.5s ease!important;
}

.nao-selecionavel {/* NAO DEIXA O TEXTO SER SELECIONAVEL COM O MOUSE */
    -webkit-touch-callout: none!important;
      -webkit-user-select: none!important;
       -khtml-user-select: none!important;
         -moz-user-select: none!important;
          -ms-user-select: none!important;
              user-select: none!important;
}

.campo-select-icone-desativado-filtro-b{/* CLASSE PARA ROTACIONAR O ICONE DE DROPDOWN QUANDO DESATIVADO */
    -webkit-transition: 0.5s ease!important;
    -moz-transition: 0.5s ease!important;
    -o-transition: 0.5s ease!important;
    transition: 0.5s ease!important;
    margin-top: 8px;
}


.campo-select-opcao{/* CLASSE PADRAO PARA OS ITEMS DO SELECT */
    margin-left: -1.5em !important;
    width: 127% !important;
    height: 1.875em !important;
    line-height: 1.75em !important;
    cursor: pointer !important;
}

.campo-select-opcao-2{/* CLASSE PADRAO PARA OS ITEMS DO SELECT */
    margin-left: -1.5em !important;
    width: 150% !important;
    height: 1.875em !important;
    line-height: 1.75em !important;
    cursor: pointer !important;
}

.campo-select-divisor{/* CLASSE PADRAO PARA AS LINHAS DIVISORIAS ENTRE OS ITEMS DO SELECT */
    height: 0.0625em !important;
    width: 109% !important;
    margin-left: -1.2em !important;
    /* color: #ab3d3d; */
    background-color: rgb(58 63 61) !important;
}

.campo-select-opcao-label{/* CLASSE PADRAO PARA ALINHAR AS LABELS DOS ITEMS DO SELECT */
    width: 0% !important;
    margin-left: 2.5em !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: black;
    font-size: 13px;
}



.campo-select{/* CLASSE PADRAO PARA CAMPOS SELECT */
    border-color: black;
    /* border-radius: 5em !important; */
    box-shadow: none !important;
    display: flex !important;
    /* font-family: RobotoRegular !important; */
    /* font-size: .875em !important; */
    height: 27px;
    justify-content: space-between !important;
    line-height: 1em !important;
    width: 223px;
    margin-left: 19px;
    margin-top: 1px;
    background-color: white;
}

.campo-select-2{/* CLASSE PADRAO PARA CAMPOS SELECT */
    border-color: black;
    /* border-radius: 5em !important; */
    box-shadow: none !important;
    display: flex !important;
    /* font-family: RobotoRegular !important; */
    /* font-size: .875em !important; */
    height: 27px;
    justify-content: space-between !important;
    line-height: 1em !important;
    width: 190px;
    margin-left: 0px;
    margin-top: 1px;
    background-color: white;
}

.label-campo-marca{/* TEXTO DOS TITULOS DOS CAMPOS DO SISTEMA */
    font-family: RobotoRegular!important;
    font-size: 1em!important;
    line-height: 1em!important;
    margin-top: 6px;
}

.campo-select-triangulo{/* CLASSE PADRAO PARA POSICIONAR O TRIANGULO QUE AJUDA A DAR FORMA AO CORPO DO SELECT */
    width: 0!important;
    height: 0!important;
    border-top: 0.9375em solid transparent!important;
    border-left: 0.9375em solid transparent!important;
    border-right: 0.9375em solid transparent!important;
    margin-left: 3em!important;
    margin-top: -0.9em!important;
}

.campo-select-corpo{/* CLASSE PADRAO PARA O CORPO DO SELECT */
    width: 226px;
    max-height: 10em !important;
    z-index: 500 !important;
    border-radius: 0.3125em !important;
    overflow-x: hidden !important;
    background-color: white;
    position: fixed;
    margin-left: 18px;
    margin-top: -21px;
}

.campo-select-corpo-2 {
    width: 112px;
    max-height: 10em !important;
    z-index: 500 !important;
    border-radius: 0.3125em !important;
    overflow-x: auto;
    background-color: white;
    /* position: fixed; */
    margin-left: 0px;
    margin-top: 12px;
}

.campo-select-lista{/* CLASSE PADRAO PARA LIMPAR BULLETS DA LISTA DE ITEMS DOS SELECTS */
    list-style-type: none!important;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    right: -14px;
  }

  .search-container2 {
    position: relative;
    display: inline-flex;
    align-items: center;
  }

  .search-icon{
    position: inherit;
    right: 24px;
    font-size: 20px;
    color: #999;
    cursor: pointer;
    border: thick;
  }

  .search-icon2{
    right: 20px;
    font-size: 21px;
    color: #999;
    cursor: pointer;
    border-style: inset;
  }
  
  .search-input {
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 83%;
    height: 30px;
    border: ridge;
  }
  








