.botao-consultorio {
    width: 30%;
    height: 191px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #6c95c412;
    border: outset;
}
.tituloConsultorio{
    margin-left: 25vw;
}
.voltar-consultorio{
  display: ruby;
  cursor: pointer;
  background-color: #fff2e8;
  width: 120px;
  height: 36px;
  border-radius: 26px;
  position: relative;
}
.fsi{
  font-size: 19px;
}
.voltar-consultorio:hover{
  display: ruby;
  cursor: pointer;
  background-color: #f6dae6;
}

.voltar-titulo{
  margin-left: 10px
}
.irAgenda{
  width: 30%;
  cursor: pointer;
  border-radius: 20px;
  background-color: #47568d;
  color: #ffffee;
  height: 6vh;
}
.irAgenda:hover{
    width: 30%;
    cursor: pointer;
    border-radius: 20px;
    background-color: #7491ff;
    color: #ffffee;
  }
  
.irAgendaDesabilitado{
    width: 30%;
}

.botao-consultorio:hover{
  background-color: #c5cee7;
  }


  .botao-consultorio-selecionado{
    width: 30%;
    height: 191px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #c5cee7;
  }