.icone-perfill {
    width: 3.5em !important;
    height: 3.5em !important;
    /* margin-left: 1225px; */
    border-radius: 100px;
    margin-top: -7vh;
    right: 0vw;
    /* position: absolute; */
  }