.css-5fzm53 {
    width: 4rem !important;
    opacity: 1 !important;
    background: transparent !important;
    color: #344767 !important;
    border-radius: none !important;
    margin-left: -1vw !important;
}

.css-ixyk52-MuiTypography-root {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.02857em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #39527e;
    font-weight: 500;
}

.css-1eo601b-MuiDrawer-docked .MuiDrawer-paper {
    box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05) !important;
    border: none !important;
    -webkit-transform: translateX(-20rem) !important;
    -moz-transform: translateX(-20rem) !important;
    -ms-transform: translateX(-20rem) !important;
    transform: translateX(-20rem) !important;
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
}

@media (min-width: 1200px) {
    .css-1y936z7-MuiDrawer-docked .MuiDrawer-paper  {
        background-color: transparent !important;
        box-shadow: none !important;
        margin-bottom: 0 !important;
        left: 0 !important;
        width: 220px !important;
        -webkit-transform: translateX(0) !important;
        -moz-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
        transform: translateX(0) !important;
        -webkit-transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 
        0ms, background-color 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
        transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, 
        background-color 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
    }
}

